<footer>
    <div class="container-fluid">
        <div class="grid">
            <!-- <div>
                <h4>Areas</h4>
                <ul>
                    <li><a href="/profile">Bug Profiles</a></li>
                </ul>
            </div> -->
            <div>
                <h4>Important Links</h4>
                <ul>
                    <li><a href="https://webgate.ec.europa.eu/rasff-window/screen/search?searchQueries=eyJkYXRlIjp7InN0YXJ0UmFuZ2UiOiIiLCJlbmRSYW5nZSI6IiJ9LCJjb3VudHJpZXMiOnsibm90aWZpY2F0aW9uQ291bnRyeSI6W1sxLDVdLFs3XSxbOSwxMF0sWzEyXSxbMTRdLFsxOCwxOV0sWzIxXSxbMjRdLFsyN10sWzI5XSxbMzFdLFszNiwzOF0sWzQyXSxbNTIsNjNdLFs1MjZdXSwib3JpZ2luQ291bnRyeSI6W1s1MTE4XV19LCJ0eXBlIjp7fSwibm90aWZpY2F0aW9uU3RhdHVzIjp7Im5vdGlmaWNhdGlvblN0YXR1cyI6W1sxXV19LCJwcm9kdWN0Ijp7fSwicmlzayI6eyJoYXphcmRDYXRlZ29yeSI6W1syMTc4MiwyMTgwN10sWzI2NTgwLDI2NTgxXSxbMjY2MDJdLFsyNjg0NV1dfSwicmVmZXJlbmNlIjoiIiwic3ViamVjdCI6IiIsInBhZ2VTaXplIjoyNX0%3D">RASFF Window</a></li>
                </ul>
            </div>
        </div>
        <div class="lower-footer">
            <nav>
                <small>
                    <ul>
                        <li>Copyright © 2024 | {{ metadata.website_name }}</li>
                    </ul>
                </small>
                <!-- <small>
                    <ul>
                        <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </small> -->
            </nav>
        </div>
    </div>
</footer>