<header style="padding-top: 1rem; padding-bottom: 0;" class="container-fluid">
    <nav>
            <ul>
                <p><strong><a href="/">BadFoods</a></strong></p>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="https://webgate.ec.europa.eu/rasff-window/screen/search?searchQueries=eyJkYXRlIjp7InN0YXJ0UmFuZ2UiOiIiLCJlbmRSYW5nZSI6IiJ9LCJjb3VudHJpZXMiOnsibm90aWZpY2F0aW9uQ291bnRyeSI6W1sxLDVdLFs3XSxbOSwxMF0sWzEyXSxbMTRdLFsxOCwxOV0sWzIxXSxbMjRdLFsyN10sWzI5XSxbMzFdLFszNiwzOF0sWzQyXSxbNTIsNjNdLFs1MjZdXSwib3JpZ2luQ291bnRyeSI6W1s1MTE4XV19LCJ0eXBlIjp7fSwibm90aWZpY2F0aW9uU3RhdHVzIjp7Im5vdGlmaWNhdGlvblN0YXR1cyI6W1sxXV19LCJwcm9kdWN0Ijp7fSwicmlzayI6eyJoYXphcmRDYXRlZ29yeSI6W1syMTc4MiwyMTgwN10sWzI2NTgwLDI2NTgxXSxbMjY2MDJdLFsyNjg0NV1dfSwicmVmZXJlbmNlIjoiIiwic3ViamVjdCI6IiIsInBhZ2VTaXplIjoyNX0%3D">RASFF Window</a></li>
                </ul>
                </li>
            </ul>
    </nav>
</header>